.navbar {
    width: 100%;
    height: 96px;
    padding: 20px;
  }
  .nav-link{
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 10px;
    list-style: none;
  }
  .nav-item {
    width: 80px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    font-weight:500;
    font-size: 18px;
    color: #374151;
    text-decoration: none;
  }
  .nav-item-logo {
    width: 80px;
    text-align: center;
    border-radius: 100%;
    padding: 5px;
    font-weight:500;
    font-size: 18px;
    color: #374151;
    cursor: pointer;
  }
  .nav-item:hover {
    cursor: pointer;
    background-color: #F3F4F6;
  }
  .logo {
    width: 20px;
    height: 20px;
    box-shadow: 0px 0px 5px black;
  }
  .active {
    background-color: #F3F4F6;
  }
  @media only screen and (max-width: 767px){
    .navbar {
      position: relative;
    }
    .nav-item {
      display: none;
    }
    .nav-link{
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      list-style: none;
    }
    .nav-item-logo {
      width: 80px;
      text-align: center;
      border-radius: 100%;
      padding: 5px;
      font-weight:500;
      font-size: 18px;
      color: #374151;
      cursor: pointer;
    }
    .hamberger {
      position: absolute;
      top: 35px;
      left: 10px;
      width: 200px;
      height: 200px;
      box-shadow: 0px 0px 3px black;
      background-color: white;
    }
    .menu-hamberger {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      top: 10px;
      left: 10px;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
    .line-hamberger {
      border: solid 2px black;
    }
  }
  